h1{
   width: 1105px;
   height: 63px;
   font-family: Jost;
   font-size: 48px;
   font-weight: 700;
   line-height: 63px;
   letter-spacing: -0.5px;
   text-align: center;
   color: #132433;
}
h6{
    width: 1105px;
    height: 38px;
    top: 79px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    color: #557087;
}
.button{
    width: 169px;
    height: 56px;
    background: #0045FF;
    font-family: Jost;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}
.images{
    margin-bottom: 15px;
    display: flex;
}
.image1{
    margin-left: 40px;
    margin-top: 30px;
}
.image2{
    margin-left: 20px;
    margin-top: 30px;
}
.image3{
    margin-left: 15px;
    margin-top: 30px;
}
.container{
    width: 916px;
    height: 471px;
    background-color: #E0E8F0;
    margin-top: 50px;
    border-radius: 10px;
}
.inline{
    width: 860px;
    height: 395px;
    background: #D2DDE8;
    margin-left: 30px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-top: 26px;
}